@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import '../../bower_components/font-awesome/scss/font-awesome';

// Typography
$base-font-family: $helvetica;

// Colors
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
}

//-----------------Recipe List-----------------//

.recipe-list {
	@include outer-container(100%);
	position: relative;
	padding: 0;
	background: $light-gray;
	margin-top: 0;
	margin-bottom: 0;
	padding: 20px 0;
	.recipes {
		@include span-columns(9);
		max-height: 50px;
		overflow: scroll;
		transition: max-height 0.3s ease-in;
		&.expanded {
			max-height: 300px;
			transition: max-height 0.3s ease-in;
		}
		> * {
			display: inline-block;
		}
		li {
			@include span-columns(2 of 9);
			height: 50px;
			border: 1px solid black;
			border-radius: 10px;
			text-align: center;
			background-color: $very-light-gray;
			margin-bottom: 20px;
			&:nth-of-type(4n+1) {
				@include shift(1);
			}
			&:nth-of-type(4n) {
				@include omega();
			}
			&:hover {
				background-color: $light-gray;
			}
			h1 {
				font-size: 20px;
			}
		}	
	}
	.fa-search {
		position: absolute;
		right: 5%;
		top: 50%;
		transform: translatey(-50%);
		font-size: 30px;
	}
	.search-box {
		position: absolute;
		right: 8%;
		top: 50%;
		transform: translatey(-50%);
		line-height: 30px;
		width: 0;
		padding: 0;
		border: 0;
		transition: all 0.3s ease-in-out;

		&.active {
			width: 17%;
			padding: 0 0 0 5px;
			transition: all 0.3s ease-in-out;
		}
	}
	.fa-angle-double-down,
	.fa-angle-double-up {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translatex(-50%);
			opacity: 1;
			font-size: 20px;
			&.hidden {
				opacity: 0
			}
		}
}

//----------------Recipe-Detail----------------//

.recipe-detail {
	display: inline-block;
	width: 70%;
	float: left;
	max-height: 500px;
	background: white;	
	border: 1px solid black;
	border-radius: 5px;
	margin-left: 2.5%;
	margin-top: 20px;
	h1 {
		text-align: center;
	}
	ul {
		column-gap: 20px;
		column-count: 5;
		li {
			position: relative;
			list-style: none;
			> * {
				display: inline-block;
			}
			input{
				position: absolute;
				margin-right: 5px;
				top: 18px;
				left: 0;
			}
			p {
				width: 90%;
				margin-left: 20px;
			}
		}
	}
}

//---------------Recipe-Form-----------------//
.recipe-form {
	position: relative;
	display: inline-block;
	float: left;
	width: 25%;
	height: 1000px;
	background: $light-gray;
	margin: 0;
	padding: 20px 2.5% 0 2.5%;
	.form-container {
		position:relative;
		.recipe-name {
			width: 100%;
			margin-bottom: 20px;
		}
		.ingredient-input {
			.name {
				width: 50%;
			}
			.unit {
				width: 25%;
			}
			.qty {
				width: 25%;
			}
		}
		.fa {
			position: absolute;
			font-size: 24px;
			bottom: 42px;
			right: -20px;
		}
		.submit {
			width: 50%;
			margin-left: 25%;
			margin-top: 20px;
		}
	}
}